<?xml version="1.0"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SqlConnStr value="CiprunOA_BETA" dbExplain="CRM数据库">Data Source=10.10.100.66;User ID=crmbeta;Password=abc123!@#;Initial Catalog=CiprunOA_BETA;Pooling=true;MultipleActiveResultSets=True;App=EntityFramework</SqlConnStr>
  <appSettings>
    <!--<add key="ConnenctionString" value="*" />-->
    <add key="dataName" value="CiprunOA_BETA" />
  </appSettings>
  <SqlConnStr value="Ipdss" dbExplain="ipdss正式数据库">Data Source=10.10.107.201;User ID=dss;Password=dss@crm;Initial Catalog=Ipdss;Pooling=true;MultipleActiveResultSets=True;App=EntityFramework</SqlConnStr>
  <SqlConnStr value="IpDss" dbExplain="IPdss测试">Data Source=10.10.100.66;User ID=crmbeta;Password=abc123!@#;Initial Catalog=IpDss;Pooling=true;MultipleActiveResultSets=True;App=EntityFramework</SqlConnStr>
  <SqlConnStr value="lianxue" dbExplain="测试">Data Source=192.168.6.245;User ID=sa;Password=6543212;Initial Catalog=lianxue;Pooling=true;MultipleActiveResultSets=True;App=EntityFramework</SqlConnStr>
  <SqlConnStr value="StudentAssociation" dbExplain="测试2">Data Source=47.95.236.188;User ID=SchoolCube;Password=cnuSchoolCube1113;Initial Catalog=BasePlatform;Pooling=true;MultipleActiveResultSets=True;App=EntityFramework</SqlConnStr>
  <SqlConnStr value="Schoo_Cube" dbExplain="测试3">Data Source=47.95.236.188;User ID=SchoolCube;Password=cnuSchoolCube1113;Initial Catalog=Schoo_Cube;Pooling=true;MultipleActiveResultSets=True;App=EntityFramework</SqlConnStr>
  <SqlConnStr value="GeduUser" dbExplain="testssss">Data Source=47.95.236.188;User ID=GeduUser;Password=cnuGedu_1230;Initial Catalog=GeduData;Pooling=true;MultipleActiveResultSets=True;App=EntityFramework</SqlConnStr>
  <SqlConnStr value="GeduDate" dbExplain="testssss">Data Source=47.95.236.188;User ID=GeduUser;Password=cnuGedu_1230;Initial Catalog=GeduData;Pooling=true;MultipleActiveResultSets=True;App=EntityFramework</SqlConnStr>
</configuration>